{
  "plugins": ["transform-react-jsx"],
  "presets": [["env", { "modules": false }]],
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    },
    "umd": {
      "plugins": ["external-helpers"]
    }
  }
}
