{
  "plugins": [
    "transform-react-jsx"
  ],
  "presets": [
    ["env", { "modules": false }]
  ],
  "env": {
    "commonjs": {
      "presets": [
        "env"
      ]
    },
    "umd": {
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
